/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

*, *:after, *:before { box-sizing: border-box; }

body { color: #848484; font-family: "Raleway", "HelveticaNeue", Helvetica, sans-serif; font-size: 14px; line-height: 1.6; height: 535px; }

a { text-decoration: none; color: #848484; }
a:hover { color: #515151; text-decoration: underline; }

video { width: auto; height: 269px; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }

.input_email { border: 1px solid #c8c8c8; -moz-border-radius-topleft: 13px; -webkit-border-top-left-radius: 13px; border-top-left-radius: 13px; -moz-border-radius-bottomleft: 13px; -webkit-border-bottom-left-radius: 13px; border-bottom-left-radius: 13px; background-color: #fff; padding-left: 20px; padding-right: 20px; font-size: 1.2em; display: table-cell; width: 100%; height: 47px; }

.input_group { display: table; border-collapse: separate; width: 390px; }
.input_group .input_btn { display: table-cell; background: #2dcb71; -moz-border-radius-topright: 13px; -webkit-border-top-right-radius: 13px; border-top-right-radius: 13px; -moz-border-radius-bottomright: 13px; -webkit-border-bottom-right-radius: 13px; border-bottom-right-radius: 13px; vertical-align: middle; text-align: center; height: 100%; }
.input_group .input_btn:hover { background: #28b665; }
.input_group .input_btn > .btn { height: 100%; background: none; padding-right: 20px; padding-left: 20px; color: white; font-size: 1.2em; font-weight: 600; }

.hero__in, .review__in, .footer__in, .l { width: 1050px; margin: 0 auto; }

.feauters .feauter [class*="icon-"], .social [class*="icon-"], .nav_device [class*="icon-"] { position: relative; vertical-align: middle; display: inline-block; background: url('../img/sprite-icons.png') no-repeat; }

.hero { border-top: 10px solid #2dcb71; background: url(../img/lighting.png) no-repeat; height: 545px; color: #fff; }
.hero__in { padding-top: 145px; padding-left: 105px; }
.hero__in .hero__logo { background: url('../img/sprite-icons.png') 0 -840px; width: 183px; height: 83px; }
.hero__in .hero__text { font-size: 22px; width: 450px; margin-top: 30px; font-weight: 600; }

.feauters { text-align: center; padding: 55px 0; }
.feauters .feauter [class*="icon-"] { width: 98px; height: 98px; }
.feauters .feauter .icon-editable { background-position: 0 -360px; }
.feauters .feauter .icon-flat { background-position: 0 -556px; }
.feauters .feauter .icon-earth { background-position: 0 -252px; }
.feauters .feauter__h { margin: 30px auto; color: #212121; font-size: 1.3em; }

.notify { background: #e3e3e3; padding: 55px 0; }
.notify__h { margin-bottom: 20px; color: #212121; font-size: 1.3em; }
.notify__text { margin-bottom: 20px; }

.review { text-align: center; }
.review__in { margin-top: 55px; margin-bottom: 55px; }
.review__text { margin-bottom: 20px; padding-left: 170px; padding-right: 170px; color: #838383; }
blockqoute .review__text { font-style: italic; }
.review__author { color: #2d2d2d; fint-weight: bold; font-size: 1.1em; margin-bottom: 20px; }
.review__h { color: #212121; margin-top: 35px; }
.review__list .fade { position: absolute; top: 0; width: 45px; height: 45px; }
.review__list .fade_left { left: 0; background: linear-gradient(to right, #ffffff 20%, rgba(0, 0, 0, 0) 100%); }
.review__list .fade_right { right: 0; background: linear-gradient(to left, #ffffff 20%, rgba(0, 0, 0, 0) 100%); }
.review__list li { position: relative; display: inline-block; background: #2dcb71; width: 45px; height: 45px; }
.review__list li img { width: 100%; }
.review__list li img:hover { opacity: 0.5; cursor: pointer; }

.footer { background: #e3e3e3; padding: 55px 0; text-align: center; }

.social [class*="icon-"] { display: inline-block; width: 34px; height: 34px; margin: 0 5px; }
.social .icon-twitter { background-position: 0 -1065px; }
.social .icon-twitter:hover { background-position: 0 -1021px; }
.social .icon-facebook { background-position: 0 -512px; }
.social .icon-facebook:hover { background-position: 0 -468px; }
.social .icon-pinterest { background-position: 0 -977px; }
.social .icon-pinterest:hover { background-position: 0 -933px; }
.social .icon-googleplus { background-position: 0 -708px; }
.social .icon-googleplus:hover { background-position: 0 -664px; }
.social .icon-linkedin { background-position: 0 -796px; }
.social .icon-linkedin:hover { background-position: 0 -752px; }
.social .icon-youtube { background-position: 0 -1279px; }
.social .icon-youtube:hover { background-position: 0 -1235px; }

.nav li { display: inline-block; }
.nav_device { margin-top: 20px; }
.nav_device [class*="icon-"] { width: 53px; height: 53px; margin-right: 10px; }
.nav_device [class*="icon-"]:hover { cursor: pointer; }
.nav_device .icon-apple { background-position: 0 -189px; }
.nav_device .icon-apple:hover { background-position: 0 -126px; }
.nav_device .icon-windows { background-position: 0 -1172px; }
.nav_device .icon-windows:hover { background-position: 0 -1109px; }
.nav_device .icon-android { background-position: 0 -63px; }
.nav_device .icon-android:hover { background-position: 0 0; }
.nav_footer li { padding: 0 10px; font-weight: 600; }

.align-right { text-align: right; }

.l .l-col1, .l .l-col2 { float: left; padding-left: 30px; padding-right: 30px; }
.l .l-col1:last-child, .l .l-col2:last-child { padding-right: 0; }
.l .l-col1:first-child, .l .l-col2:first-child { padding-left: 0; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { width: 33.33333%; }
.l .l-col2 { width: 50%; }
