%in
    width: 1050px
    margin: 0 auto

%icon
    position: relative
    vertical-align: middle
    display: inline-block
    +sprite-bkg()



.hero
    border-top: 10px solid #2dcb71
    background: url(../img/lighting.png) no-repeat
    height: 545px
    color: #fff
    &__in
        @extend %in
        padding-top: 145px
        padding-left: 105px
        .hero__logo
            +s(logo)
        .hero__text
            font-size: 22px
            width: 450px
            margin-top: 30px
            font-weight: 600



.feauters
    text-align: center
    padding: 55px 0
    .feauter
        [class*="icon-"]
            @extend %icon
            width: 98px
            height: 98px
        +make-icon(editable)
        +make-icon(flat)
        +make-icon(earth)

        &__h
            margin: 30px auto
            color: #212121
            font-size: 1.3em


.notify
    background: #e3e3e3
    padding: 55px 0
    &__h
        margin-bottom: 20px
        color: #212121
        font-size: 1.3em
    &__text
        margin-bottom: 20px

.review
    text-align: center
    &__in
        @extend %in
        margin-top: 55px
        margin-bottom: 55px
    &__text
        blockqoute &
            font-style: italic
        margin-bottom: 20px
        padding-left: 170px
        padding-right: 170px
        color: #838383
    &__author
        color: #2d2d2d
        fint-weight: bold
        font-size: 1.1em
        margin-bottom: 20px
    &__h
        color: #212121
        margin-top: 35px
    &__list
        .fade
            position: absolute
            top: 0
            width: 45px
            height: 45px
            &_left
                left: 0
                background: linear-gradient(to right, rgba(255,255,255,1) 20%,rgba(0,0,0,0) 100%)
            &_right
                right: 0
                background: linear-gradient(to left, rgba(255,255,255,1) 20%,rgba(0,0,0,0) 100%)
        li
            position: relative
            display: inline-block
            background: #2dcb71
            width: 45px 
            height: 45px
            img
                width: 100%
                &:hover
                    opacity: .5
                    cursor: pointer

.footer
    background: #e3e3e3
    padding: 55px 0
    text-align: center
    &__in
        @extend %in

.social
    [class*="icon-"]
        @extend %icon
        display: inline-block
        width: 34px
        height: 34px
        margin: 0 5px
    +make-icon-h(twitter)
    +make-icon-h(facebook)
    +make-icon-h(pinterest)
    +make-icon-h(googleplus)
    +make-icon-h(linkedin)
    +make-icon-h(youtube)

.nav
    li
        display: inline-block
    &_device
        margin-top: 20px
        [class*="icon-"]
            @extend %icon
            width: 53px
            height: 53px
            margin-right: 10px
            &:hover
                cursor: pointer
        +make-icon-h(apple)
        +make-icon-h(windows)
        +make-icon-h(android)
    &_footer li
        padding: 0 10px
        font-weight: 600



.align-right
    text-align: right
